page-password {
    /*
    scroll-context{
        display:flex;
        flex-direction:column;
    }*/

    .backbutton-icon{
        font-size: xx-large;
    }

    .header{
        font-size: 0px;
    }

    .title{
        font-size: x-large;
    }

    .circle, .shuffle, .backspace{
        display: block;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
    }

    .button-outline-ios{
        border-color: gray;
        color: black;
    }

    .extended{
        top:0px;
        left: 0px;
        bottom: 0px;
        width: 100%;
    }

    .padder-center{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .box{
        border-bottom: 2px solid #afafaf;
        text-align: center;
        font-size: 2.5em;
        height: 15vw;
    }
}
